@font-face {
  font-family: 'Almarai';
  src: url(../fonts/Almarai-Regular.ttf);
}

* {
  font-family: 'Almarai';
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  width: 70%;
  position: relative;
  height: 100%;
}

::-moz-selection {
  background: #f0ac2d;
  color: #fff;
}

::selection {
  background: #f0ac2d;
  color: #fff;
}

.btn {
  padding: 15px 25px;
  background: #4280e1;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

header {
  width: 100%;
  z-index: 1000;
  height: 10vh;
  position: fixed;
  background: #fff;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header .nav .logo {
  width: 160px;
}

header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav .menu li {
  list-style: none;
}

header .nav .menu li a {
  text-decoration: none;
  color: #393939;
  margin-right: 30px;
}

header .nav .menu li a.active {
  color: #f0ac2d;
}

header .nav .icon {
  width: 20px;
  display: none;
}

.home {
  width: 100%;
  height: 100vh;
}

.home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home .row .text_home,
.home .row .img_home {
  width: 50%;
}

.home .row .img_home img.active {
  float: right;
}

.home .row .img_home img {
  width: 30rem;
  float: left;
}

.home .row .text_home h1 {
  color: #f0ac2d;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.home .row .text_home p {
  color: #707070;
  font-size: 1.1rem;
  line-height: 35px;
  margin-bottom: 30px;
}

.about {
  width: 100%;
  height: 100vh;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about .row .text_about,
.about .row .img_about {
  width: 50%;
}

.about .row .img_about {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.about .row .img_about img.active {
  float: left;
}

.about .row .img_about img {
  width: 20rem;
  float: right;
  border-radius: 10px;
}

.about .row .text_about span {
  color: #f0ac2d;
}

.about .row .text_about h1 {
  color: #393939;
  margin-top: 30px;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.about .row .text_about p {
  color: #707070;
  font-size: .90rem;
  line-height: 25px;
  margin-bottom: 30px;
}

.team {
  width: 100%;
  height: 100vh;
}

.team .title_team {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 100px;
}

.team .row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .row .box {
  width: 300px;
  height: 300px;
  background: #fafafa;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.team .row .box img {
  width: 100px;
  border-radius: 50%;
  margin: auto auto 20px auto;
}

.team .row .box span {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #393939;
}

.team .row .box p {
  color: #707070;
  margin-bottom: 20px;
  font-size: 15px;
}

.team .row .box .icons_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 15px;
  font-size: bold;
  background: -webkit-linear-gradient(60deg, #F58529, #dbad2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact {
  padding: 100px 0px;
  width: 100%;
}

.contact input[type=text],
.contact select,
.contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(97, 115, 162, 0.4);
  border-radius: 4px;
  margin-top: 15px;
  background: #e8f0fe;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
}

.contact p {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 15px;
  background: #e84f6d;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  color: #fff;
}

.contact input[type=submit] {
  background-color: #f0ac2d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact label {
  color: #393939;
}

footer {
  width: 100%;
  height: 10vh;
  background: #f0ac2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

@media screen and (max-width: 1413px) {
  .home .row .text_home,
  .home .row .img_home {
    width: 50%;
  }
  .home .row .img_home img.active {
    float: right;
  }
  .home .row .img_home img {
    width: 25rem;
    float: left;
  }
  .home .row .text_home h1 {
    font-size: 2rem;
  }
  .home .row .text_home p {
    color: #707070;
    font-size: 1rem;
  }
  .team {
    width: 100%;
    height: 100vh;
  }
  .team .title_team {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
  }
  .team .row .box {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1119px) {
  .home .row .text_home,
  .home .row .img_home {
    width: 50%;
  }
  .home .row .img_home img.active {
    float: right;
  }
  .home .row .img_home img {
    width: 20rem;
    float: left;
  }
  .home .row .text_home h1 {
    font-size: 1.5rem;
  }
  .home .row .text_home p {
    color: #707070;
    font-size: .79rem;
  }
  .btn {
    padding: 10px 20px;
    font-size: 12px;
  }
  .about .row .img_about img.active {
    float: left;
  }
  .about .row .img_about img {
    width: 20rem;
    float: right;
    border-radius: 10px;
  }
  .about .row .text_about h1 {
    margin-top: 25px;
  }
  .about .row .text_about p {
    font-size: .90rem;
  }
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 814px) {
  header {
    width: 100%;
    z-index: 1000;
    height: 10vh;
    position: fixed;
    background: #fff;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  header .nav .logo {
    width: 160px;
  }
  header .nav .menu.active {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background: #f0ac2d;
  }
  header .nav .menu.active li {
    list-style: none;
    padding: 15px 0px;
    text-align: center;
  }
  header .nav .menu.active li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
  }
  header .nav .menu.active li a.active {
    color: #ffffff;
  }
  header .nav .menu {
    display: none;
  }
  header .nav .icon {
    display: block;
    cursor: pointer;
  }
  .home .row .text_home,
  .home .row .img_home {
    width: 100%;
  }
  .home .row .text_home {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .home .row .text_home h1 {
    font-size: 2rem;
  }
  .home .row .text_home p {
    font-size: 1.3rem;
  }
  .home .img_home {
    display: none;
  }
  .about .row .text_about,
  .about .row .img_about {
    width: 100%;
  }
  .about .row .img_about {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: none;
  }
  .about .row .text_about span {
    color: #f0ac2d;
  }
  .about .row .text_about h1 {
    color: #393939;
    margin-top: 30px;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .about .row .text_about p {
    color: #707070;
    font-size: .90rem;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .team .row .box {
    width: 350px;
    height: 350px;
    background: #fafafa;
    margin: 20px;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .team .row .box img {
    width: 150px;
    border-radius: 50%;
    margin: auto auto 20px auto;
  }
  .team .row .box span {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: #393939;
  }
  .team .row .box p {
    color: #707070;
    margin-bottom: 20px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */